<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if(typeof(error) !== 'undefined') {%>
            <span><%= error %></span>
    <% } else {%>   
        <% if(typeof(amount) !== 'undefined') {%>
          <span>This feature is currently unavailable.</span>
        <% } %>
        <form method="post" action="/add">              
          <p>
            <label for="amount">Amount</label>
            <input type="number" min="5" name="amount" id="amount"
              placeholder="0.00">
            <input type="hidden" name="email" value=<%= email %>>
            <input type="submit" value="Add"/>             
          </p>          
          <p>
            Current balance: $<%= balance.toFixed(2) %>
          </p>
        </form>
    <% } %>
    <form method="post" action="/users">              
      <p>              
        <input type="hidden" name="email" value=<%= email %>>
        <input type="submit" value="Back">             
      </p>                
    </form>    
  </body>
</html>
